{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="st">
        <a><img src="{% static 'main/img/xbox.jpg' %}" class="st1"></a>
        <a><img src="{% static 'main/img/ps 5 1.jpg' %}" class="st2"></a>
        <a><img src="{% static 'main/img/ps 4.jpg' %}" class="st3"></a>
        <a><img src="{% static 'main/img/xbox1.jpg' %}" class="st4"></a>
    </div>
    <h3 class="hh">xbox series x</h3>
    <a href="{% url 'one' %}"><button class="hh1">Подробнее...</button></a>

{% endblock %}


