{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="st">
        <a><img src="{% static 'main/img/xbox.jpg' %}" class="st1"></a>
        <a><img src="{% static 'main/img/ps 5 1.jpg' %}" class="st2"></a>
        <a><img src="{% static 'main/img/ps 4.jpg' %}" class="st3"></a>
        <a><img src="{% static 'main/img/xxx111.jpg' %}" class="st4"></a>
    </div>
        <h3 class="hh">xbox series x/40 BUN</h3>
        <a href="{% url 'cont' %}"><button class="hh1">Подробнее в контактах...</button></a>

        <h3 class="hh_1">PlayStation 5/45 BUN</h3>
        <a href="{% url 'cont' %}"><button class="hh_1_2">Подробнее в контактах...</button></a>

        <h3 class="hh_2">Xbox One X/35 BUN</h3>
        <a href="{% url 'cont' %}"><button class="hh_2_2">Подробнее в контактах...</button></a>

        <h3 class="hh_3">PlayStation 4/25 BUN</h3>
        <a href="{% url 'cont' %}"><button class="hh_3_2">Подробнее в контактах...</button></a>


{% endblock %}


